@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

@import url("./root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Metrophobic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--body-color);
}

/* Rachele */
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: calc((100% / 3) - var(--gap-4));
    padding: 0 2.5rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.2;
    color: #363d47;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--body-color);
}

.icon-circle-xl {
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 1.5rem;
}

.text-white {
    color: white;
}

.text-light {
    color: #f2f6fc;
}

.bg-gradient-primary {
    background-color: #0061f2;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
}

.bg-white {
    background-color: white;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 1.17rem;
    border-width: 1px;
    border-radius: 0.35rem;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 1;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--primary-color);
}

.svg-inline--fa {
    margin-left: 0.2rem;
    margin-right: 0;
    display: inline-block;
    height: 0.5rem;
    transition: transform 0.1s ease-in-out;
}

.svg-inline--btn {
    margin-right: 0;
    display: inline-block;
    height: 0.8rem;
    transition: transform 0.1s ease-in-out;
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: var(--gap-4);
}

.nav {
    background-color: var(--dark-bg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem 0;
    transition: 0.15s ease-in-out
}

nav.bg-transparent {
    background-color: transparent;
}

.nav-container {
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu-items {
    display: flex;
    margin-right: 2.5rem;
}

.nav-menu-item {
    margin-right: 2rem;
    list-style: none;
    font-weight: 500;
}

.nav-menu-item a {
    color: #ffffff8c;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-menu-item a:hover {
    color: #ffffffbf;
}

.header {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.header-content {
    padding-top: 6rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-content-left {
    padding-right: 1.25rem;
}

.header-content-right {
    padding-left: 1.25rem;
}

.page-header-text {
    font-size: 1.15rem;
    color: #ffffff80;
    margin-bottom: 2.5rem;
}

.svg-border-rounded svg {
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

section {
    position: relative;
}

.container.section.bg-white{
    padding: 6rem 0;
    text-align: center;
}

/* End Rachele */
/* Jahvantè */
/* End Jahvantè */
/* Mirko */
/* End Mirko */
/* Luca */
/* End Luca */